<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ballstateuniversity.computerscience.redhillconcierge.redhillconcierge">
    <application
        android:name="Application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme"
        >
        <activity android:name="Activities.Authentication" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity android:name="Activities.BasicUserView" android:screenOrientation="portrait"
            />
        <activity android:name="Activities.AdministratorView" android:screenOrientation="portrait"/>
        <activity android:name="Activities.Profile"
            android:windowSoftInputMode="stateHidden"
            ></activity>
        <activity android:name="Activities.EditableHorse"
            android:noHistory="true" android:screenOrientation="portrait"/>
        <activity android:name="Activities.HorseTabs" android:screenOrientation="portrait"></activity>

    </application>
</manifest>